/**
 * Sidebar
 */
.sidebar {
    @include respond-to("medium") {
        overflow: auto;
        @include fixed(top 0 bottom 0 left 0);
        width: $sidebar-width;
        z-index: z("default") + 1;
        background: color("dark-grey");
        color: color("light-grey");
        border-right: 3px solid color("darkest-grey");
    }
}

/**
 * Private and alias annotations
 */
.sidebar__annotation {
    color: color("dark-grey");
}

$level-1: 1.5em;
$level-2: $level-1 + 1em;
$level-3: $level-2 + 2em;

/**
 * Sidebar content
 */
.sidebar__item {
    font-size: .9em;

    a {
        padding: .5em $level-3;
        display: block;
        text-decoration: none;
        font-weight: 300;
        color: color("light-grey");
    }

    &:hover {
        background: color("darkest-grey");
    }

    &.is-collapsed + * {
        display: none;
    }
}

/**
 * List item heading
 */
.sidebar__item--heading {
    padding: 1em $level-1;

    a {
        font-weight: bold;
    }
}

.sidebar__item--sub-heading {
    padding: .5em $level-2;

    a {
        color: #888;
    }
}

.sidebar__item--heading,
.sidebar__item--sub-heading {
    position: relative;

    &:after {
        content: '\25B2';
        @include absolute(right 2em top 50%);
        margin-top: -.5em;
        color: color("medium-grey");
        font-size: .7em;
    }

    &.is-collapsed:after {
        content: '\25BC';
    }

    a {
        padding: 0;
        display: inline;
    }
}

/**
 * Project description
 */
.sidebar__description {
    color: color("light-grey");
    padding-right: 2em;
}

/**
 * Sidebar header with title
 */
.sidebar__header {
}

/**
 * Sidebar main title
 */
.sidebar__title {
    font-size: 1em;
    margin: 0;
    padding: 1.45em;
}

.btn-toggle {
    background: color("dark-grey");
    border: none;
    display: block;
    padding: 1em;
    width: 100%;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    margin: 0;
    transition: .15s ease-out;

    &:hover {
        background: color("darkest-grey");
    }
}